.hero-section{
    height: calc(100vh - 14vh);
}
.hero-image,
.hero-content{
    flex: 1;
    flex-basis: 300px;
}
.hero-image{
    height: calc(100vh - 14vh);
}
.hero-im
.sub-text{
    color: var(--text-primary-clr);
    font-size: 1.2rem;
    text-transform: capitalize;
}
h1{
    font-size: 4.5rem;
    line-height: 5rem;
    color: var(--text-primary-clr);
    margin-block: 0.5rem;
}

.green-text{
    color: var(--accent-clr);
}
p{
    font-size: 0.95rem;
    color: var(--text-secondary-clr);
    max-width: 550px;
}

.para{
    margin-block: 2rem;
}
.border-btn{
    color: var(--text-primary-clr);
    border-color: var(--text-secondary-clr);
    background: transparent;
}