.navbar{
    min-height: 14vh;
}
.logo{
    font-size: 1.8rem;
    color: var(--text-primary-clr);
    font-weight: bold;
}
.logo span{
    display: inline-flex;
    background: var(--accent-clr);
    color: var(--background-clr);
    width: 2.8rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    align-items: center;
    justify-content: center;  
    margin-right: 0.1rem;
}


.link{
    font-size: 0.95rem;
    color: var(--text-secondary-clr);
    transition: 0.3s ease-in-out;

}
.link:hover{
    color: var(--accent-clr);
}
.gap-2{
    gap:2rem
}

.btn{
    padding: 0.7rem 1.5rem;
    background: var(--accent-clr);
    color:var(--background-clr);
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 100vw;
    border: 0.1rem solid var(--accent-clr);
    transition: 0.5s ease-in-out;
}
.btn:hover{
    background:transparent;
    color: var(--accent-clr);
}
.icon-container{
    width: 2.7rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-inverse{
    border: 0.1rem solid rgba(123,123,123,0.2);
    color: var(--text-secondary-clr);
}

.hamburger{
    color: var(--text-primary-clr);
    font-size: 1.5rem;
    display: none;
}

.mobile-menu{
    display: none;
}













































































@media screen and (max-width: 790px){

    .desktop-menu,
    .nav-action .btn            {
        display: none;
    }
    .hamburger{
        display: block;
    }
    .logo{
        font-size: 1.6rem;
    }
    .logo span{
        width: 2.5rem;
        margin-right: 0.2rem;

    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top:20%;
        left: -100%;
        transform: translateX(-50%);
        background: var(--surface-clr);
         border: 0.1rem solid rgba(123,123,123,0.2);
         width: 18rem;
         padding: 1.5rem;
        border-radius: 1rem;
        z-index: 99;
        transition: 0.5s ease-in-out;
    }

    .mobile-menu-active{
        left: 50%;
        transform: translateX(-50%);
    }
}